/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 335px) {
  html, body {
    font-size: 14px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 5px 0;
}

button {
  cursor: pointer;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Layouts */
.header {
  position: relative;
  text-align: center;
  max-height: 330px;
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 0;
  padding: 20px 0 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.header__location {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  font-weight: 700;
}
.header__location i {
  margin-right: 8px;
}
.header__link {
  position: absolute;
  top: 26px;
  left: 22px;
}

.footer {
  background: #353535;
  color: #DEDEDE;
  padding: 20px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  letter-spacing: 1px;
}
.footer__links {
  margin: 10px 0;
}
.footer__link i {
  width: 26px;
  font-size: 14px;
}
.footer__link:hover {
  text-decoration: underline;
}

/* Pages */
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  text-align: center;
}
.landing__title {
  padding: 0 40px;
}
.landing__text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.landing__btn {
  background: linear-gradient(to top, #9356DC, #FF79DA 100%);
  color: #FFF;
  font-weight: 700;
  padding-inline: 20px;
  border: none;
  border-radius: 26px;
  height: 52px;
  box-shadow: 0 5px 15px rgba(3, 3, 3, 0.1);
  transition: opacity 350ms;
  margin-left: auto;
  margin-right: auto;
}
.landing__btn:hover {
  opacity: 0.8;
}

.functioning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 50px 20px 70px;
}
.functioning__title {
  flex-basis: 100%;
}
.functioning__btn {
  position: relative;
  text-align: start;
  background: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 72px;
  box-shadow: 0 8px 10px rgba(3, 3, 3, 0.1);
  z-index: 0;
  padding-right: 10px;
  transition: background-color 350ms;
}
@media screen and (min-width: 992px) {
  .functioning__btn {
    flex: 1 1 30%;
  }
}
.functioning__btn__number {
  position: relative;
  color: #FFF;
  font-size: 14px;
  left: -2px;
}
.functioning__btn__number::before {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 12px);
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
  z-index: -1;
}
.functioning__btn__icon {
  margin: 0 10px 0 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.1);
  transition: color 350ms;
}
.functioning__btn:hover {
  background-color: #ffe9f9;
}
.functioning__btn:hover .functioning__btn__icon {
  color: #9356DC;
}

.restaurants {
  padding: 60px 20px 60px;
}
.restaurants__wrapper {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants__card {
  position: relative;
  box-shadow: 0 8px 10px rgba(3, 3, 3, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 6px 12px;
}
.restaurants__card img {
  object-fit: cover;
  object-position: center 62%;
  max-height: 180px;
}
.restaurants__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-grow: 1;
}
.restaurants__card__footer p {
  font-weight: 300;
  padding-top: 5px;
}
.restaurants__card__footer__heart {
  position: relative;
  margin-right: 10px;
}
.restaurants__card__footer__heart--stroke {
  width: 28px;
  height: 28px;
  opacity: 1;
  transition: opacity 250ms;
}
.restaurants__card__footer__heart--fill {
  width: 30px;
  height: 30px;
  top: -1px;
  right: -1px;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
}
.restaurants__card__footer__heart:hover :nth-child(1) {
  opacity: 0;
}
.restaurants__card__footer__heart:hover :nth-child(2) {
  opacity: 1;
}

.main {
  background: rgb(246, 246, 246);
  border-radius: 40px 40px 0 0;
  padding-bottom: 15px;
  margin-top: 230px;
  box-shadow: 0 5px 5px 5px rgba(3, 3, 3, 0.1);
}
.main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  padding: 40px 20px;
}
.main__btn {
  background: linear-gradient(to top, #9356DC, #FF79DA 100%);
  color: #FFF;
  font-weight: 700;
  padding-inline: 40px;
  border: none;
  border-radius: 26px;
  height: 52px;
  box-shadow: 0 5px 15px rgba(3, 3, 3, 0.1);
  transition: opacity 350ms;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-inline: auto;
}
.main__btn:hover {
  opacity: 0.8;
}
@media screen and (min-width: 992px) {
  .main__btn {
    grid-column-start: 2;
    margin-top: 25px;
  }
}
.main__heart {
  position: relative;
  margin-right: 10px;
}
.main__heart--stroke {
  width: 28px;
  height: 28px;
  opacity: 1;
  transition: opacity 250ms;
}
.main__heart--fill {
  width: 30px;
  height: 30px;
  top: -1px;
  right: -1px;
  position: absolute;
  opacity: 0;
  transition: opacity 250ms;
}
.main__heart:hover :nth-child(1) {
  opacity: 0;
}
.main__heart:hover :nth-child(2) {
  opacity: 1;
}

.cover {
  position: absolute;
  object-fit: cover;
  height: 280px;
  z-index: -1;
}

.meals {
  margin: 0 15px 50px;
}
@media screen and (min-width: 992px) {
  .meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.meals__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 30px;
  min-width: 30%;
}
.meals__cards__title {
  width: 100%;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.6;
}
.meals__cards__title::after {
  display: block;
  content: "";
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.meals__card {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 5px 5px 5px rgba(3, 3, 3, 0.1);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}
.meals__card__body {
  padding: 12px;
  width: 100%;
  user-select: none;
  transition: width ease-in-out 350ms;
  position: relative;
}
.meals__card__body__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: width ease-in-out 350ms;
}
.meals__card__body__text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  transition: width ease-in-out 350ms;
}
.meals__card__body__text p {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
.meals__card__body__text span {
  font-weight: 700;
}
.meals__card__body__check {
  position: absolute;
  top: 0;
  right: -60px;
  background: #99e2d0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform ease-in-out 350ms;
}
.meals__card__body__check .fa-circle-check {
  color: white;
  font-size: 22px;
}
.meals__card:hover .meals__card__body__title {
  width: calc(100% - 60px);
}
.meals__card:hover .meals__card__body__text {
  width: calc(100% - 60px);
}
.meals__card:hover .fa-circle-check {
  animation: 0.3s 0.2s cubic-bezier(0, 0.38, 0.25, 1) rotate-check;
}
.meals__card:hover .meals__card__body__check {
  transform: translateX(-60px);
}

/* Animations */
@keyframes rotate-check {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(1turn);
  }
}
