/* Fade out loader */
@keyframes fade-out-loader {
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/* Rotate spinner in loader */
@keyframes rotate-spinner {
  0% {
    transform: rotate(0);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: rotate(2turn);
    opacity: 0;
  }
}

/* Fading and translate for cards of meal */
@keyframes fade-menu {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  25% {
    opacity: 0.5;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Rotate check icon on cards of meal */
@keyframes rotate-check {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(1turn);
  }
}
