@mixin primary-btn($padding-inline) {
  background: linear-gradient(to top, $color-primary , $color-secondary 100%);
  color: #FFF;
  font-weight: 700;
  padding-inline: $padding-inline;
  border: none;
  border-radius: 26px;
  height: 52px;
  box-shadow: 0 5px 15px $color-grey;
}

@mixin heart-link {
  position: relative;
  margin-right: 10px;

  &--stroke {
    width: 28px;
    height: 28px;
    opacity: 1;
    transition: opacity 250ms;
  }
  &--fill {
    width: 30px;
    height: 30px;
    top: -1px;
    right: -1px;
    position: absolute;
    opacity: 0;
    transition: opacity 250ms;
  }
  &:hover {
    & :nth-child(1) {
      opacity: 0;
    }
    & :nth-child(2) {
      opacity: 1;
    }
  }
}
