.main {
  background: $color-bg-grey;
  border-radius: 40px 40px 0 0;
  padding-bottom: 15px;
  margin-top: 230px;
  box-shadow: 0 5px 5px 5px $color-grey-light;
  @include responsive-desktop {
    background: $color-bg-white;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Shrikhand", cursive;
    padding: 40px 20px;
  }
  &__btn {
    @include primary-btn(40px);
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-inline: auto;
    @include responsive-desktop {
      grid-column-start: 2 ;
      margin-top: 25px;
    }
  }
  &__heart {
    @include heart-link;
  }
}

.cover {
  position: absolute;
  object-fit: cover;
  height: 280px;
  z-index: -1;
}

.meals {
  margin: 0 15px 50px;
  @include responsive-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 30px;
    min-width: 30%;
    &__title {
      width: 100%;
      padding: 0 5px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.6;
      &::after {
        display: block;
        content: "";
        width: 40px;
        height: 3px;
        background: $color-tertiary;
      }
    }
  }
  &__card {
    background: $color-bg-white;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 10px $color-grey-light;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    transform: translateY(10px);
    opacity: 0;
    &__body {
      padding: 12px;
      width: 100%;
      user-select: none;
      transition: width ease-in-out 350ms;
      position: relative;
      &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        transition: width ease-in-out 350ms;
      }
      &__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
        transition: width ease-in-out 350ms;
        & p {
          font-weight: 300;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-right: 10px;
        }
        & span {
          font-weight: 700;
        }

      }
      &__check {
        position: absolute;
        top: 0;
        right: -60px;
        background: #99e2d0;
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform ease-in-out 350ms;
        .fa-circle-check {
          color: white;
          font-size: 22px;
        }
      }
    }
    &:hover {
      .meals__card__body__title {
        width: calc(100% - 60px);
      }
      .meals__card__body__text {
        width: calc(100% - 60px);
      }
      .fa-circle-check {
        animation: 0.3s 0.2s cubic-bezier(0, 0.38, 0.25, 1) rotate-check;
      }
      .meals__card__body__check {
        transform: translateX(-60px);
      }
    }
  }
}

/* Animate with delay all cards of meal */
@for $i from 0 to 10 {
  .animate-delay-#{$i} {
    animation: 0.5s #{calc($i / 10)}s linear fade-menu both;
  }
}
