* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  @include responsive-mobile-small {
    font-size: 14px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 5px 0;
}

button {
  cursor: pointer;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}
